<html>
    <head>
        <link rel="stylesheet" href="../notFound/notFound.scss">
    </head>
    <body>
      <div class="error">
        <div class="error__container">
            <h1 class="error__status">500</h1>
            <h2 class="error__message">Стараемся все исправить</h2>
            <a href="#">Назад к чатам</a>
        </div>
      </div>
    </body>
</html> 