.error-page {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background: center / cover no-repeat url("../../assets/Background.png");

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
  }

  &__status {
    margin-top: 0;
    margin-bottom: 5px;

    font-size: 96px;
    color: transparent;

    -webkit-text-stroke: 1px rgb(255 255 255);
  }

  &__message {
    margin-top: 5px;

    font-size: 40px;
    color: transparent;

    -webkit-text-stroke: 1px rgb(255 255 255 / 62%);
  }
}
