.contacts__link {
  cursor: pointer;

  margin-right: 25px;
  margin-left: auto;
  padding-top: 15px;

  font-size: 15px;
  color: var(--support-gray-color);

  transition: 0.2s ease all;

  &:hover {
    transform: translateY(-2px);
  }
}
