@mixin block {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 90vh;

  background-color: #fcfcfc;
  border-radius: 25px;
}

.contacts {
  @include block;
  position: relative;

  flex-direction: column;
  justify-content: space-between;

  width: 20vw;

  &__link {
    margin-right: 25px;
    margin-left: auto;
    padding-top: 15px;

    font-size: 15px;
    color: #999;

    transition: 0.2s ease all;

    &:hover {
      transform: translateY(-2px);
    }
  }

  &__list {
    overflow-y: scroll;

    width: 100%;
    height: 80vh;

    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;

    &::-webkit-scrollbar {
      display: none;
    }

    &__item {
      cursor: pointer;

      display: flex;
      gap: 20px;
      align-items: center;

      min-height: 60px;
      padding: 15px 20px;

      border-bottom: 2px solid #eaeaea;

      &:hover {
        background-color: #e4edfd;
      }

      .item {
        &__image {
          width: 54px;
          height: 54px;

          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border-radius: 50%;
        }

        &__text {
          display: flex;
          flex-direction: column;
          gap: 8px;

          &__name {
            font-size: 16px;
            font-weight: 600;
          }

          &__last-message {
            font-size: 14px;
            font-weight: 500;
            color: #999;
          }
        }

        &__info {
          display: flex;
          flex-direction: column;
          gap: 18px;
          align-items: flex-end;

          margin-left: auto;

          font-family: Arial, sans-serif;

          &__time {
            font-size: 13px;
            color: #999;
          }

          &__missed-messages {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 25px;
            height: 25px;

            font-size: 14px;
            color: white;

            background-color: #3369f3;
            border-radius: 50%;

            &_empty {
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}
