@mixin block {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 90vh;

  background-color: #fcfcfc;
  border-radius: 25px;
}

.contacts {
  @include block;
  position: relative;

  flex-direction: column;
  justify-content: space-between;

  width: 20vw;
}
