.login {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background: center / cover no-repeat url("../../assets/Background.png");

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
