---
title: Привет!
subtitle: Давно тебя не видели!
---

<html>
    <head>
        <link rel="stylesheet" href="./login.scss">
        <link rel="stylesheet" href="../../components/title/title.scss">
    </head>
    <body>
      <main class="login">
        <div class="login__container">
            {{>'title/title'}}
            {{!-- Я сомневаюсь насчет правильности моего решения не делать input и кнопку как отдельный компонент, но мне кажется, что так проще будет понимать логику.Да и вычленять инпут или кнопку из формы для меня, пока что, странно.Если и с помощью шаблонов можно сделать понятно ( а главное - работоспособно ), то поправьте, пожалуйста.Заранее спасибо :) --}}
            <form class="login__form">
              <input class="custom-input" name="login" type="text" placeholder="Ваш логин"/>
              <input class="custom-input" name="password" type="text" placeholder="Пароль"/>
              {{!-- Немного непонятно как тут сделать кнопку , которая будет работать как <a/> без JS(onClick + location) --}}
              <a class="custom-button" href="../../../index.hbs">Войти</a>
            </form>
            <a href="../signUp/signUp.hbs">Нет аккаунта?</a>
        </div>
      </main>
    </body>
</html> 