.custom-input {
  box-sizing: border-box;
  width: 100%;
  padding: 25px 35px;

  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;

  border: 1px solid white;
  border-radius: 15px;
  outline: none;

  &.short {
    height: 60px;

    font-size: 20px;
  }
}

.profile__input {
  width: 220px;
  padding: 0 5px;

  font: inherit;
  text-align: right;

  border: none;
  outline: none;

  &.default-font::placeholder {
    font-family: Arial, sans-serif;
    font-weight: 600;
  }
}

.messages__footer__input {
  width: 58vw;
  height: 50%;
  padding: 0 15px;

  font-family: Raleway, sans-serif;
  font-size: 15px;

  background-color: #efefef;
  border: none;
  border-radius: 30px;
  outline: none;
}

.change-chat-title__input {
  width: 20vw;
  height: 50%;
  margin-right: 10px;
  padding: 0 15px;

  font-family: Raleway, sans-serif;
  font-size: 15px;

  background-color: #efefef;
  border: none;
  border-radius: 30px;
  outline: none;
}

.search-input {
  position: relative;

  padding: 10px 20px;

  font-family: Arial, FontAwesome, sans-serif;

  background-color: #efefef;
  border: none;
  border-radius: 10px;
  outline: none;

  &::placeholder {
    margin-right: 7px;

    text-align: center;
  }
}
