.contact-search-input {
  position: relative;

  height: 35px;
}

.search-results {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);

  display: block;

  min-height: 50px;

  background-color: white;

  &__item {
    &__image {
      width: 30px;
      height: 30px;

      object-fit: cover;
      border-radius: 50%;
    }
  }
}
