.contact-search-input {
  position: relative;

  height: 35px;
}

.search-results {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);

  display: none;

  width: 100%;

  background-color: white;
  border: 1px solid black;

  &.active {
    display: block;
  }

  &__item {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: 10px;
    padding: 0 10px;

    &__image {
      width: 40px;
      height: 40px;

      object-fit: cover;
      border-radius: 50%;
    }
  }
}
