html,
body {
  margin: 0;
  padding: 0;

  font-family: Raleway, sans-serif;
}

a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.main {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background: center / cover no-repeat url("./src/assets/Background.png");

  &__form {
    display: flex;
    flex-direction: column;
  }
}
