---

id: root
title: Привет!
subtitle: Давно тебя не видели!

---
<html>
    <head>
        <link rel="stylesheet" href="/index.scss">
    </head>
    <body>
        <div id="{{ id }}">
            <div class="login">
                <div class="login__container">
                    <h1>Привет!</h1>
                    <h2>Давно тебя не видели!</h2>
                    {{>title}}
                </div>
                
          

            </div>
        </div>
    </body>
</html> 