.profile {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background: center / cover no-repeat url("../../assets/Background.png");

  &__container {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90vw;
    height: 90vh;

    color: white;

    background-color: white;
    border-radius: 25px;

    &_image {
      width: 190px;
      height: 190px;
    }

    &_title {
      margin-bottom: 85px;

      font-size: 24px;
      color: black;
      text-align: center;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: black;

    &__field {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 760px;
      padding: 15px 0;

      font-size: 16px;
      font-weight: 600;

      border-bottom: 1px solid #eaeaea;

      &.no-border {
        border: none;
      }

      &__label {
        color: #1e1e1e;
      }

      &__value {
        margin: 0;

        color: #999;

        &.default-font {
          font-family: Arial, sans-serif;
          font-weight: 600;
        }
      }

      &__input {
        width: 220px;
        padding: 0 5px;

        font: inherit;
        text-align: right;

        border: none;
        outline: none;

        &.default-font::placeholder {
          font-family: Arial, sans-serif;
          font-weight: 600;
        }
      }
    }
  }
}
