.messages__footer{
  display: flex;
  justify-content: center;
  gap:15px;
  align-items: center;
  width:65vw;
  height:8vh;
  &__input{
    font-family: 'Raleway';
    font-size: 15px;
    width:58vw;
    height:50%;
    padding:0 15px;
    outline: none;
    border:none;
    border-radius: 30px;
    background-color: #EFEFEF;
  }
  &__send-message{
    width:42px;
    height:42px;
    background:center / cover no-repeat url('../../assets/BackArrow.png');
    border:none;
    transform: scale(-1);
    cursor: pointer;
    transition: 0.2s ease all;
    &:hover{
      transform: translateY(-2px) scale(-1);
      filter: contrast(151%);
    }
  }
  &__import-files{
    width:42px;
    height:42px;
    background:center / cover no-repeat url('../../assets/ImportFileButton.png');
    border:none;
    transform: scale(-1);
    cursor: pointer;
    transition: 0.2s ease all;
    &:hover{
      transform: translateY(-2px);
    }
  }
}