.messages__footer {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;

  width: 65vw;
  height: 8vh;

  &__form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  &__import-files {
    cursor: pointer;

    transform: scale(-1);

    min-width: 42px;
    height: 42px;

    background: center / cover no-repeat url("../../../assets/ImportFileButton.png");
    border: none;

    transition: 0.2s ease all;

    &:hover {
      transform: translateY(-2px);
    }
  }
}
