<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<footer class="messages__footer">
  <button class="messages__footer__import-files"></button>
  <input type="text" name='message' placeholder="Сообщение" class="messages__footer__input"/>
  <button class="messages__footer__send-message"></button>
</footer>