<footer class="messages__footer">
  <button class="messages__footer__import-files"></button>
  <input type="text" name='message' placeholder="Сообщение" class="messages__footer__input"/>
  <button class="messages__footer__send-message"></button>
</footer>
