<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<div>
  <input type="text" placeholder="&#xF002; Поиск" style="font-family:Arial, FontAwesome" class="search-input">
</div>