.messages__header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 65vw;
  height: 8vh;

  &__person {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    font-weight: 600;

    &__image {
      width: 45px;
      height: 45px;

      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__open-options {
    cursor: pointer;

    padding: 10px;

    font-family: Raleway, FontAwesome, sans-serif;
    font-size: 25px;
  }

  &__options {
    position: absolute;
    top: 6.2vh;
    right: 0;

    display: flex;
    flex-direction: column;

    width: 15vw;
    height: 10vh;

    visibility: hidden;
    opacity: 0;
    background-color: rgb(212 212 212);
    border: 1px solid rgb(146 146 146);
    border-radius: 5px;

    transition: 0.2s ease all;

    &.active {
      transform: translateY(-10px);

      visibility: visible;
      opacity: 1;
    }

    &__button {
      height: 5vh;

      font-size: 15px;
      color: white;

      background-color: rgb(66 66 66);
      border-bottom: 1px solid red;

      &:hover {
        background-color: rgb(41 41 41);
      }
    }
  }
}
