.messages__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:65vw;
  height:8vh;
  &__person{
    font-weight: 600;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    &__image{
      width:45px;
      height:45px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__options{
    cursor: pointer;
    padding:10px;
  }
}