<header class="messages__header">
  <div class="messages__header__person">
    <img src="./src/assets/Nikolaev.jpg" alt="Фотография собеседника" class="messages__header__person__image"/>
    <span>Игорь Николаев</span>
  </div>
  <span class="messages__header__options">&#xF142;</span>
</header>
