<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<header class="messages__header">
  <div class="messages__header__person">
    <img src="./src/assets/Nikolaev.jpg" class="messages__header__person__image"/>
    <span>Игорь Николаев</span>
  </div>
  <span class="messages__header__options" style="font-family:Raleway, FontAwesome;font-size:25px">&#xF142;</span>
</header>