.messages__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 65vw;
  height: 8vh;

  &__person {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    font-weight: 600;

    &__image {
      width: 45px;
      height: 45px;

      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__options {
    cursor: pointer;

    padding: 10px;

    font-family: Raleway, FontAwesome, sans-serif;
    font-size: 25px;
  }
}
