---
title: Пора познакомиться!
subtitle: Будем рады видеть тебя в нашем приложении
---

<html>
    <head>
        <link rel="stylesheet" href="./signUp.scss">
        <link rel="stylesheet" href="../../components/title.scss">
    </head>
    <body>
      <div class="signUp">
        <div class="signUp__container">
            {{>title}}
            <form class="signUp__form">
              <input class="custom-input" name="email" type="text" placeholder="Почта"/>
              <input class="custom-input" name="login" type="text" placeholder="Логин"/>
              <input class="custom-input" name="first_name" type="text" placeholder="Имя"/>
              <input class="custom-input" name="second_name" type="text" placeholder="Фамилия"/>
              <input class="custom-input" name="phone" type="text" placeholder="Телефон"/>
              <input class="custom-input" name="password"  placeholder="Пароль"/>
              <input class="custom-input" name="check_password" type="text" placeholder="Повторите пароль"/>
              <a class="custom-button" href="../../../index.hbs">Зарегистрироваться</a>
            </form>
            <a href="../login/login.hbs">Войти</a>
        </div>
      </div>
    </body>
</html> 