<html>
    <head>
        <link rel="stylesheet" href="../profile/profile.scss">
        <link rel="stylesheet" href="../login/login.scss">
        <link rel="stylesheet" href="../../components/title.scss">
    </head>
    <body>
      <main class="profile">
        <div class="profile__container">
          <div>
            <img src="../../../static/defaultAvatar.png" class="profile__container_image"/>
            <h1 class="profile__container_title">Даня</h1>
          </div>
          <form class="profile__form">
          {{!------- СТАРЫЙ ПАРОЛЬ -------}}
            <div class="profile__form__field">
              <label class="profile__form__field__label">Старый пароль</label>
              <input type="password" name="oldPassword" class="profile__form__field__input" placeholder="Введите старый пароль"/>
            </div>

          {{!------- НОВЫЙ ПАРОЛЬ -------}}
            <div class="profile__form__field">
              <label class="profile__form__field__label">Новый пароль</label>
              <input type="password" name="newPassword" class="profile__form__field__input" placeholder="Введите новый пароль"/>
            </div>

          {{!------- ПОВТОРИТЕ НОВЫЙ ПАРОЛЬ -------}}
            <div class="profile__form__field">
              <label class="profile__form__field__label">Повторите новый пароль</label>
              <input type="password" name="repeatNewPassword" class="profile__form__field__input" placeholder="Повторите новый пароль"/>
            </div>
          {{!------- LINK BACK TO PROFILE -------}}
            <a class="back-to-chats" href="../profile/profile.hbs"></a>
            <a style="margin-top:220px" class="custom-button blue" href="../profile/profile.hbs">Сохранить</a>
          </form>

        </div>
      </main>
    </body>
</html> 