@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100&display=swap');
html,body{
  font-family: 'Raleway',sans-serif;
  padding:0;
  margin:0;
}
a{
  text-decoration: none;
  color:white;
  font-size: 20px;
}
.profile{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100vw;
  background: center / cover no-repeat url("../../../static/Background.png");
  &__container{
    color:white;
    background-color: white;
    border-radius: 25px;
    width:90vw;
    height:90vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &_image{
      width:190px;
      height:190px;
    }
    &_title{
      color:black;
      font-size:24px;
      margin-bottom: 85px;
      text-align: center;
    }
  } 
  &__form{
    display: flex;
    flex-direction: column;
    color:black;
    &__field{
      width:760px;
      border-bottom: 1px solid #EAEAEA;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size:16px;
      font-weight: 600;
      padding: 15px 0;
      &__label{
        color:#1e1e1e;
      }
      &__value{
        color:#999999;
        margin: 0;
      }
    }
  }
}
@mixin custom-input-button{
  width:25vw;
  padding:25px 35px;
  margin-bottom: 30px;
  border-radius: 15px;
  outline: none;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Raleway';
  border:1px solid white;
}
.custom-input{
  @include custom-input-button();
  &:first-of-type{
    margin-top: 65px;
  }
  &:last-of-type{
    margin-bottom: 160px;
  }
}
.custom-button{
  @include custom-input-button();
  background-color: #DE6C69;
  border:none;
  color:white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: 0.3s ease all;
  cursor:pointer;
  &:hover{
    transform:translateY(-3px)
  }
}