.redirect-button {
    cursor: pointer;
  
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
  
    background: none;
    border: none;
    outline: none;
  }
