<html>
    <head>
        <link rel="stylesheet" href="/notFound.scss">
    </head>
    <body>
      <div class="error">
        <div class="error__container">
            <h1 class="error__status">404</h1>
            <h2 class="error__message">Не туда попали</h2>
            <a href="#">Назад к чатам</a>
        </div>
      </div>
    </body>
</html> 